.social {
  padding-top: 3.6rem;
  flex-basis: 32%;
  width: 32%;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  flex-basis: 3.2rem;
  width: 3.2rem;
  display: block;
  margin-right: 1.1rem;
  list-style: none;
  border-radius: 50%;
  border-color: rgba($white-one, 0.5);
  border-width: 0.3rem;
  border-style: solid;
}

.social__link {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: 3.2rem 3.2rem;
  background-repeat: no-repeat;
  background-position: center;

  @include hide-text();
}

.social__link:hover {
  opacity: 0.8;
}

.social__link:active {
  // opacity: 0.6;
  box-shadow: 0px -2px 1px 0px rgba($gray-two, 1);
  border-radius: 50%;
}

.social__link--twitter {
  background-image: url('../img/twitter.svg');
}

.social__link--instagram {
  background-image: url('../img/instagram.svg');
}
.social__link--facebook {
  background-image: url('../img/fb.svg');
}
.social__link--vk {
  background-image: url('../img/vk.svg');
}


