.social {
  padding-top: 3rem;
  padding-bottom: 2rem;
  flex-basis: 33.3%;
  width: 33.3%;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  flex-basis: 14%;
  display: block;
  margin-right: 1.2rem;
  list-style: none;
  background-color: rgba($white-one, 0.5);
  border-radius: 50%;
}

.social__link {
  display: block;
  width: 4rem;
  height: 4rem;
  background-size: 3.2rem 3.2rem;
  background-repeat: no-repeat;
  background-position: center;

  @include hide-text();
}

.social__link:hover {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.6;
}

.social__link--twitter {
  background-image: url('../img/twitter.svg');
}

.social__link--instagram {
  background-image: url('../img/instagram.svg');
}
.social__link--facebook {
  background-image: url('../img/fb.svg');
}
.social__link--vk {
  background-image: url('../img/vk.svg');
}


