//Font variables

$font-family: 'Roboto', sans-serif;

$font-size-default: 10px !default;

$font-size-one: 6rem;
$font-size-two: 3.2rem;
$font-size-three: 1.6rem;
$font-size-four: 1.3rem;
$font-size-five: 1.4rem;

$font-weight-bold: 700;

$line-height-one: 1.8rem;
$line-height-two: 1.6rem;


$padding-900-one: 2.2%;


$green-one: #849d8f;
$white-one: #ffffff;
$white-two: #f8f7f4;
$pink-one: #fbded8;
$black-one: #323232;

$font-color-white: #ffffff;
$font-color-black: #323232;
$font-color-black-two: #333333;


