.menu {
  display: flex;
  flex-flow: nowrap;
  position: relative;
  padding-top: 0.9rem;
  padding-left: $padding-900-one;
  padding-right: $padding-900-one;
}

.menu__logo {
  display: inline-block;
  flex-basis: 18%;
  width: 18%;
  text-decoration: none;
}

.menu__time {
  display: block;
  position: absolute;
  margin: 0;
  top: 7.2rem;
  right: 2rem;
  font-size: $font-size-five;
  font-weight: $font-weight-bold;
  line-height: $line-height-two;
  color: $font-color-white;
}

.menu__phone {
  display: block;
  position: absolute;
  margin: 0;
  top: 9.3rem;
  right: 2rem;
  font-size: $font-size-seven;
  font-weight: $font-weight-bold;
  line-height: $line-height-three;
  color: $font-color-white;
}