//Font variables
$font-family: 'Roboto', sans-serif;

$font-size-default: 10px !default;

$font-size-one: 6rem;
$font-size-two: 3.2rem;
$font-size-three: 1.6rem;
$font-size-four: 1.3rem;
$font-size-five: 1.4rem;
$font-size-six: 1.8rem;
$font-size-seven: 2.2rem;
$font-size-eight: 3.5rem;
$font-size-nine: 4.5rem;
$font-size-ten: 3rem;
$font-size-eleven: 2.4rem;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$line-height-one: 1.8rem;
$line-height-two: 1.6rem;
$line-height-three: 2.4rem;
$line-height-four: 6rem;
$line-height-five: 4.1rem;
$line-height-six: 2.2rem;
$line-height-seven: 4.5rem;
$line-height-eight: 3rem;
$line-height-nine: 2rem;
$line-height-ten: 2.8rem;

$padding-900-one: 2.2%;

$green-one: #849d8f;

$white-one: #fff;
$white-two: #f8f7f4;
$white-three: #b5c4bc;

$pink-one: #fbded8;

$black-one: #323232;
$black-two: #353535;
$black-three: #000;
$black-four: #231F20;

$gray-one: #999;
$gray-two: #9a9a9a;

$blue-one: #2e88e4;

$orange-one: #e84d37;
$orange-two: #e74a35;
$orange-three: #f26843;
$orange-four: #f58669;
$orange-five: #ec6f5e;
$orange-six: #d84732;
$orange-seven: #e1613e;
$orange-eight: #ac1000;
$orange-nine: #a0200b;
$orange-ten: #f6b5a5;
$orange-eleven: #d07058;

$violet-one: #8996a6;
$gray-one: #9d8b84;
$gray-two: #888888;

$font-color-white: #fff;
$font-color-white-two: #fefefe;
$font-color-black: #323232;
$font-color-black-two: #333;
$font-color-black-three: #5a5a5a;
$font-color-black-four: #353535;
$font-color-orange: #e84d37;
$font-color-orange-two: #ffbc9e;
