.blog__list {
  display: flex;
  justify-content: space-between;
  padding-left: $padding-900-one;
  padding-right: $padding-900-one;
  padding-top: 3.9rem;
  padding-bottom: 4rem;
  margin: 0;
}

.blog__item {
  display: block;
  flex-basis: 42%;
  width: 42%;
  padding-left: 2rem;
  padding-right: 3.9rem;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
}

.blog__item:last-child {
  margin-right: 0;
}

.blog__item--entry {
  padding-top: 2.3rem;
  background-image: url('../img/strawberries.png');
}

.blog__item--subscribe {
  position: relative;
  z-index: 10;
  padding-left: 2.4rem;
  padding-right: 3.4rem;
  padding-top: 3.5rem;
  background-size: 100%;
  background-image: url('../img/pattern-900.png');
}



.blog__header {
  margin-bottom: 0.4rem;
  font-size: $font-size-three;
  line-height: $line-height-six;
  color: $font-color-black-three;
}

.blog__link {
  font-size: $font-size-eleven;
  line-height: $line-height-eight;
  color: $font-color-black-four;
  background-color: rgba($white-one, 0.8);
}

.blog__link:hover {
  color: $font-color-orange;
}

.blog__link:active {
  color: $font-color-orange;
}

.blog__text {
  font-size: $font-size-three;
  line-height: $line-height-six;
  color: $font-color-black-three;
  margin-bottom: 1.3rem;
}

.blog__form {
  display: flex;
  padding-bottom: 4rem;
}

.blog__label {
  display: block;

  @include hide-text();
}

.blog__input {
  @include input();
  display: block;
}

.blog__button {
  @include button(1rem, 1.4rem, $font-size-six);
  margin-left: 1rem;
}

.blog__button:hover {
  @include button-hover();
}

.blog__button:active {
  @include button-active();
}

@include screen-size($screen-1200) {
  .blog__list {
    padding-top: 4.1rem;
  }

  .blog__text {
    margin-bottom: 3.5rem;
  }

  .blog__item {
    flex-basis: 44%;
    width: 44%;
  }

  .blog__item--entry {
    background-image: url('../img/strawberries-1200.png');
  }

  .blog__item--subscribe {
    background-image: url('../img/pattern-1200.png');
  }
}