html{
  font-size: $font-size-default;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: $line-height-one;
  font-size: $font-size-six;
}

p {
  margin: 0;
  line-height: $line-height-one;
  font-size: $font-size-four;
}