.slider__container {
  position: relative;
  text-align: center;
  padding-top: 32rem;
}

.slider__list {
  padding: 0;
  margin: 0;
}

.slider__item {
  width: 67rem;
  list-style: none;
  margin: 0 auto;
}

.slider__title {
  font-size: $font-size-one;
  color: $font-color-white;
  line-height: $line-height-four;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.slider__button {
  @include button(1.3rem, 4rem, $font-size-two);
}

.slider__button:hover {
  @include button-hover();
}

.slider__button:active {
  @include button-active();
}

.slider__control {
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  z-index: 20;
  margin-left: 2rem;
  font-size: 0;
}

.slider__label {
  display: inline-block;
  vertical-align: top;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.8rem;
  background-color: transparent;
  border-style: solid;
  border-width: 0.2rem;
  border-color: $white-one;
  border-radius: 50%;
  cursor: pointer;
}

.slider__label:hover {
  background-color: rgba($white-two, 0.4);
}

#product-1:checked ~ .site-wrapper > .container #slide-1,
#product-2:checked ~ .site-wrapper > .container #slide-2,
#product-3:checked ~ .site-wrapper > .container #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper > .container label[for="product-1"],
#product-2:checked ~ .site-wrapper > .container label[for="product-2"],
#product-3:checked ~ .site-wrapper > .container label[for="product-3"] {
  background-color: $white-one;
}

#product-1:checked ~ .site-wrapper > .container {
  background-image: url('../img/IceCream1.png');
}

#product-2:checked ~ .site-wrapper > .container {
  background-image: url('../img/IceCream2.png');
  background-position: 50% 8.4rem;
}

#product-3:checked ~ .site-wrapper > .container {
  background-image: url('../img/IceCream3.png');
  background-position: 50% 8.3rem;
}

#product-1:checked ~ .site-wrapper {
  background-color: $green-one;
}

#product-2:checked ~ .site-wrapper {
  background-color: $violet-one;
}

#product-3:checked ~ .site-wrapper {
  background-color: $gray-one;
}
